<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls[url].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="ingrese nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongitud')">Nombre debe tener al menos {{minLongitud}} de largo!</div>
    </div>
    <div class="form-group">
        <label for="Imgane Url">Imagen Url</label>
        <input type="text" class="form-control" id="Imagen Url" placeholder="ingrese url..." [formControl]="fg.controls['url']">
    </div>
    <button type=" submit " class="btn btn-primary " (click)="guardar(nombre.value, url.value) ">Guardar!</button>
</form>