<div class="container content">
    <div class="page-header">
        <div class="container">
            <h1>Ruteo simple</h1>
            <div class="navLinks">
                <a [routerLink]="['/home']">Home</a>
                <a [routerLink]="['/destino']">Destino</a>
            </div>
        </div>
    </div>
    <h1>{{title}}</h1>
    <div class="row m-auto container">
        <router-outlet></router-outlet>
    </div>
</div>
<hr class="mb-5"> fecha: {{tome | async}}